@media screen and (min-device-width: 0px){
    .App {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .Main__title {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

}

@media screen and (min-device-width: 768px){

}

@media screen and (min-device-width: 1280px){
    
}